
{% extends 'TKTUsers/base.html' %}
{% load static %}
{% block admin_view_agent_role %}
<div class="container p-5 ">
    <div class="text-center mt-5 wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">
            Agent Roles List
        </h6>
        <h1 class="mb-3">Agent Roles List</h1>
    </div>

  <div class="row mb-4">
    <div class="col-6">
      <h5 class="text-start mb-4">
        <a
          class="text-white btn btn-info"
          href="{% url 'TKTAdmin:admin_dashboard' %}"
          style="background-color: rgb(63, 127, 165); border-radius: 10px"
          >Back to Dashboard</a
        >
      </h5>
    </div>
    <div class="col-6">
      <h5 class="text-end mb-4">
        <a
          class="text-white btn btn-info"
          href="{% url 'TKTAdmin:create_agent_role' %}"
          style="background-color: rgb(63, 127, 165); border-radius: 10px"
          >Create New Role
        </a>
      </h5>
    </div>
  </div>

   <div>
        {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
        {% endfor %}
        {% endif %}
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <table class="table table-striped" id="mytable" style="width: 100%">
      <thead>
        <tr>
          <th>S.No.</th>
          <th>Role Name</th>
          <th>Created Date </th>
          <th>Last Updated Date</th>
          <th>Edit Role</th>
        </tr>
      </thead>
      <tbody>
        {% for data in Agent_Role_obj %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{data.Agent_Role_name}}</td>
          <td>{{data.Agent_Role_created_date}}</td>
          <td>{{data.Agent_Role_update_date}}</td>
            <td><a href="{% url 'TKTAdmin:edit_agent_role' data.id %}">Edit</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- CIP Server End -->

<script>
  $(document).ready(function () {
    $("#mytable").dataTable({
      buttons: ["copy", "csv", "excel", "pdf", "print"],
      info: true,
      paging: true,
    });
  });
</script>
{% endblock %}