
{% extends 'TKTUsers/base.html' %}
{% load static %}
{% block admin_view_ticket_list %}
<div class="container-fluid p-5 ">
    <div class="text-center mt-5 wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">
            Ticket List
        </h6>
        <h1 class="mb-3">Ticket List</h1>
    </div>

  <div class="row mb-4">
    <div class="col-6">
      <h5 class="text-start mb-4">
        <a
          class="text-white btn btn-info"
          href="{% url 'TKTAdmin:admin_dashboard' %}"
          style="background-color: #886363; border-radius: 10px"
          >Back to Dashboard</a
        >
      </h5>
    </div>
    <div class="col-6">
      <h5 class="text-end mb-4">
        <a
          class="text-white btn btn-info"
          href="#"
          style="background-color: #886363; border-radius: 10px"
          >Create New Ticket
        </a>
      </h5>
    </div>
  </div>
   <div>
        {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
        {% endfor %}
        {% endif %}
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <table class="table table-striped" id="mytable" style="width: 100%">
      <thead>
        <tr>
          <th>S.No.</th>
          <th>Website Name</th>
          <th>Website URL</th>
          <th>Website Description </th>
          <th>Website Category</th>
          <th>Issue Related To</th>
          <th>Ticket Raised By</th>
          <th>Website Technology</th>
         <th>Ticket Assigned to</th>
            <th>Status</th>
          <th>Assign</th>
        </tr>
      </thead>
      <tbody>
        {% for data in TicketDetail_obj %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{data.websitename}}</td>
            <td>{{data.websiteurl}}</td>

            <td>{{data.website_description}}</td>
            <td>{{data.website_category}}</td>
            <td>{{data.Issue_Related_To}}</td>
            <td>{{data.ticket_raised_by}}</td>
            <td>{{data.website_technology}}</td>
            <td>{{data.ticket_assigned_to}}</td>
            <td>{{data.ticket_status}}</td>
            <td><a href="{% url 'TKTAdmin:assign_ticket' data.id%}">Assign</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- CIP Server End -->

<script>
  $(document).ready(function () {
    $("#mytable").dataTable({
      buttons: ["copy", "csv", "excel", "pdf", "print"],
      info: true,
      paging: true,
    });
  });
</script>
{% endblock %}