{% include 'TKTUsers/header.html' %}

<!---PUBLIC APP SECTION ENDS --->
{% block user_signup %}
{% endblock %}

{% block userlogin %}
{% endblock %}

{% block admin_dashboard %}
{% endblock %}

{% block adminlogin %}
{% endblock %}

{% block admin_create_agent_role %}
{% endblock %}


{% block admin_view_agent_role %}
{% endblock%}

{% block admin_edit_agent_role %}
{% endblock %}

{% block admin_view_category %}
{% endblock %}

{% block admin_edit_category %}
{% endblock %}

{% block admin_view_ticket_status_choice %}
{% endblock %}

{% block admin_create_ticket_status_choice %}
{% endblock %}

{% block admin_edit_ticket_status_choice %}
{% endblock %}

{% block admin_view_technology_stack %}
{% endblock %}

{% block admin_create_technology_stack %}
{% endblock %}

{% block admin_edit_technology_stack %}
{% endblock %}

{% block admin_view_Issue_category %}
{% endblock %}

{% block admin_create_issue_category %}
{% endblock %}

{% block admin_edit_issue_category %}
{% endblock %}

{% block admin_view_agent_list %}
{% endblock %}

{% block admin_create_agent%}
{% endblock %}

{% block admin_edit_agent %}
{% endblock %}

{% block admin_view_ticket_list %}
{% endblock %}

{% block admin_assign_ticket %}
{% endblock %}


{% block user_create_ticket %}
{% endblock %}

{% block agentlogin %}
{% endblock %}

{% block agent_dashboard %}
{% endblock %}

{% block agent_view_ticket_list %}
{% endblock %}

{% include 'TKTUsers/footer.html' %}


